#root {
  width: 30%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  color: white;
}
form{
 font-display: center;
 text-align: center;
}
input{
  text-align: center;
}
h2{
  color: white;
}
body{
  background-image: url("https://static.vecteezy.com/system/resources/previews/005/087/191/non_2x/abstract-3d-effect-background-for-presentations-and-websites-calming-colorful-wavy-wallpaper-vector.jpg");
  background-size: cover;
  background-attachment:fixed ;
  width: 100%;
  height: 100%;
}



